.connect{
    .h1{
        font-family: 'Avo';
        font-size: 20px;
        color: #b22024;
        font-weight: 700;
        padding: 10px 0;
    }
    .h2{
        font-size: 25px;
        text-transform: uppercase;
        margin: 10px 0 20px 0;
        color: #fff;
    }
    .h2-title{
        background: $bgr;
        position: relative;
        font-size: 15px;
        white-space: nowrap;
        display: flex;
        align-items: center;
    }
    .h2-title::before{
        content: "";
        border-right: 4px solid #d1bc5d;
        position: absolute;
        top: 0;
        left: 48px;
        height: 100%;
    }
    .h2-title::after{
        content: "";
        position: absolute;
        left: 52px;
        top: 19px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-color: transparent transparent transparent #d1bc5d;
    }
    .bi-icon{
        font-size: 20px;
        padding: 10px;
        width: 45px;
        height: 45px;
        text-align: center;
        margin-right: 25px;
        display: inline-block;
        transform: none;
    }
    .contact-info{
        display: flex;
        align-items: center;
    }
    .time{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        span{
            display: flex;
            align-items: center;
        }
    }
    .input-group{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;
    }
    .input-group-text{
        border-right: 0;
    }
    .form-control{
        border-left: 0;
    }

    .ct{
        height: 100px;
    }

    button.btn.btn-danger{
        padding: 5px 20px;
        text-align: center;
        background-color: #dc3545;
    }
    .map{
        width: 100%;
        height: 415px;
        margin-bottom: 10px;
    }
}