@mixin max-sm {
    @media all and (max-width: 640px) {
        @content;
    }
}
@mixin min-sm {
    @media all and (min-width: 640px) {
        @content;
    }
}
@mixin max-md {
    @media all and (max-width: 768px) {
        @content;
    }
}
@mixin min-md {
    @media all and (min-width: 768px) {
        @content;
    }
}
@mixin max-lg {
    @media all and (max-width: 1024px) {
        @content;
    }
}
@mixin min-lg {
    @media all and (min-width: 1024px) {
        @content;
    }
}
@mixin max-xl {
    @media all and (max-width: 1280px) {
        @content;
    }
}
@mixin min-xl {
    @media all and (min-width: 1280px) {
        @content;
    }
}
@mixin max-ss($breakpoint) {
    @media all and (max-width: $breakpoint) {
        @content;
    }
}
@mixin min-ss($breakpoint) {
    @media all and (min-width: $breakpoint) {
        @content;
    }
}
