.event{
    .title {
        font-family: 'avo';
        font-size: 20px;
        font-weight: bold;
        position: relative;
        color: #ab2023;
        text-transform: uppercase;
    }

    .item{
        box-shadow: 0 4px 4px #5858582d;
        height: 100%;
    }

    .sample {
        display: inline-block;
        position: relative;
        z-index: 999;
        padding: 10px 0;
        text-transform: uppercase;
        border-bottom: 2px solid #a11e20;
        font-weight: bold;
    }
    
    .sample::after {
        content: "";
        position: absolute;
        border-bottom: 2px solid #e47636;
        bottom: -2px;
        left: 0;
        right: 0;
        width: 50%;
        margin: 0 auto;
    }

    .post-title{
        height: 70px;
    }

    .d-flex{
        justify-content: space-between;
        @include max-ss(1300px) {
            display: flex;
            flex-direction: column;
        }
    }

    .entry-modified-time{
        font-size: 16px;
        display: flex;
        align-items: center;
        .bi-calendar3{
            margin-right:5px;
        }
        @include max-ss(1300px) {
            display: flex;
            align-items: center;
        }
    }
    .entry-category{
        font-size: 16px;
        display: flex;
        align-items: center;
        color: $secondary-color;
        a{
            color: $secondary-color;
            margin-left: 2px;
        }
        @include max-ss(1300px) {
            display: flex;
            align-items: center;
        }
    }
}