.feed-back{
    .title {
        font-family: 'avo';
        font-size: 20px;
        font-weight: bold;
        position: relative;
        color: #ab2023;
        text-transform: uppercase;
    }

    .sample {
        display: inline-block;
        position: relative;
        z-index: 999;
        padding: 10px 0;
        text-transform: uppercase;
        border-bottom: 2px solid #a11e20;
        font-weight: bold;
    }
    
    .sample::after {
        content: "";
        position: absolute;
        border-bottom: 2px solid #e47636;
        bottom: -2px;
        left: 0;
        right: 0;
        width: 50%;
        margin: 0 auto;
    }
    .contact-form{
        position: relative;
    }
    .wrap{
        margin-bottom: 10px;
        box-shadow: 0px 0px 26px 0px #1649ac1f;
        background: #fff;
        border-radius: 5px;
        padding: 10px;
    }
}