
.list {
    padding: 0;
}

.item {
    position: relative;
    @include max-ss(768px){
        padding-bottom: 10px;
    }
}

.owl-video {
    .icon {
        position: absolute;
        top: 44%;
        left: 45%;
        border-radius: 30px;
        color: #fff;
        background-color: #E62117;
        transform: translate(-5px, -10px);
    }

    .text {
        position: absolute;
        top: 90%;
        left: 19%;
        color: #fff;
        @include max-ss(400px){
            top: 87%;
            left: 8%;
        }
        @include min-ss(768px){
            display: none;
        }
    }
}

.wrap-title .title {
    font-family: 'avo';
    font-size: 20px;
    font-weight: bold;
    position: relative;
    color: #ab2023;
    text-transform: uppercase;
}

.sample {
    display: inline-block;
    position: relative;
    padding: 10px 0;
    text-transform: uppercase;
    border-bottom: 2px solid #a11e20;
    font-weight: bold;
}

.sample::after {
    content: "";
    position: absolute;
    border-bottom: 2px solid #e47636;
    bottom: -2px;
    left: 0;
    right: 0;
    width: 50%;
    margin: 0 auto;
}

.welcome{
    text-align: center;
    strong{
        background: linear-gradient(-90deg, #ef8c3c 0%, #96201e 100%);
        color: #fff;
        padding: 10px;
        text-transform: uppercase;
        border-radius: 4px;
        font-size: 20px;
        display: inline-block;
        margin-right: 20px;
        font-family: 'avo';
    }
    span{
        background: #b22024;
        color: #fff;
        padding: 10px;
        text-transform: uppercase;
        border-radius: 4px;
        font-size: 20px;
        display: inline-block;
        margin-left: 20px;
        font-weight: 700;
        font-family: 'avo';
        // height: 70px;
        width: max-content;
    }
    .realhouse-top{
        display: flex;
        align-items: center;
        justify-content: center;
        @include max-ss(400px) {
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
        }
    }
    .automation{
        height: 70px;
        padding: 10px 0;
    }
}
.img-fluid{
    width: 100%;
    object-fit: cover;
}