.village{
    .title {
        font-family: 'avo';
        font-size: 20px;
        font-weight: bold;
        position: relative;
        color: #ab2023;
        text-transform: uppercase;
    }
    
    .sample {
        display: inline-block;
        position: relative;
        z-index: 999;
        padding: 10px 0;
        text-transform: uppercase;
        border-bottom: 2px solid #a11e20;
    }
    
    .sample::after {
        content: "";
        position: absolute;
        border-bottom: 2px solid #e47636;
        bottom: -2px;
        left: 0;
        right: 0;
        width: 50%;
        margin: 0 auto;
    }
    
    .item {
        box-shadow: 0 4px 4px #5858582d;
    
        .list-unstyled {
            border-bottom: 1px solid #eee;
            border-top: 1px solid #eee;
    
            .icon {
                color: #666;
                padding: 2px 0;
    
                a {
                    color: $secondary-color;
                }
            }
        }
    
        .entry-category {
            color: $secondary-color;
    
            a {
                color: $secondary-color;
            }
        }
    }
    .view-all{
        text-align: center;
    }
    button.btn.btn-danger{
        border-radius: 30px;
        padding: 5px 20px;
        text-align: center;
        background-color: $bgr;
    }
} 