.footer {
    position: relative;
    background: #707071;
    color: #fff;

    .title {
        padding-bottom: 7px;

        span {
            display: block;
            font-size: 17px;
            text-transform: uppercase;
            color: #fff;
            font-family: 'avo';
        }
    }

    .title::before {
        content: "";
        border-bottom: 1px solid #dc3545;
        position: absolute;
        left: 15px;
        top: 33px;
        width: 90%;
        transform: translateY(17px);
    }

    .title:after {
        content: "";
        border-bottom: 3px solid #dc3545;
        position: absolute;
        left: 15px;
        top: 30px;
        width: 30%;
        transform: translateY(17px);
    }
}

.menu-footer {
    margin-left: 5px;
}

.menu {
    list-style: square;
    padding: 0;

    .item {
        padding: 5px 0;
        color: #fff;

        svg.bi.bi-square {
            background-color: #fff;
        }

        a {
            color: #fff;
        }
    }
}
.bi-social{
    font-size: 20px;
    width: 35px;
    height: 35px;
    text-align: center;
    color: #fff;
    line-height: 1.6;
    border-radius: 100%;
}
.bi-facebook{
    color: #3b5998;
    background-color: #fff;
}
.bi-instagram{
    color: #db4437;
    background-color: #fff;
}
.bi-linkedin{
    color: #00aff0;
    background-color: #fff;
}
.bi-youtube{
    color: #e62117;
    background-color: #fff;
}
.copyright{
    padding: 10px 0;
    font-size: 15px;
    line-height: 1.8;
    background: linear-gradient(-90deg, #ef8c3c 0%, #96201e 100%);
    color: #fff;
    .bct{
        width: 150px;
        height: 55px;
    }
    .algin-items-center{
        align-items: center;
    }
}