@font-face {
    font-family: 'Averta';
    src: url("../assets/fonts/AvertaStandard-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Avo';
    src: url("../assets/fonts/UTMAvoBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


body{
    overflow-x: hidden;
    font-family: 'Averta';
    font-size: 16px;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
li{
    list-style-type: none;
}