.info {
    .h1 {
        font-family: 'Avo';
        font-size: 20px;
        text-rendering: optimizelegibility;
        width: 100%;
        line-height: 1.2;
        color: #b22024;
        font-weight: 700;
        padding: 10px 0;
    }

    .meta span{
        color: #787878;
        font-size: 14px;
        a{
            color: #787878;
        }
    }

    p {
        line-height: 1.8;
    }

    h3 {
        font-family: 'Avo';
        font-size: 16px;
    }

    .img-content {
        width: 100%;
        padding: 0 5%;
    }

    .wrap-title {
        .title {
            font-family: 'avo';
            font-size: 25px;
            position: relative;
            text-transform: uppercase;
        }

        .bar {
            height: 4px;
            width: 150px;
            background: #ff512f;
            margin: 20px auto 25px;
            border-radius: 5px;
            position: absolute;
            left: 0;
            right: 0;
            top: 4rem;

            @include max-ss(400px) {
                top: 65rem;
            }

            @include max-ss(768px) {
                top: 4.5rem;
            }
        }

        .bar:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 5px;
            background: #fff;
            animation: mymove 3s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes mymove {
            from {
                left: 0px;
            }

            to {
                left: 150px;
            }
        }
    }

    .bi {
        transform: translate(0px, -4px);
    }

    .text {
        color: $third-border;

    }

    .h2 {
        font-size: 25px;
        text-transform: uppercase;
        margin: 10px 0 20px 0;
        color: #fff;
    }

    .h2-title {
        background: $bgr;
        position: relative;
        font-size: 15px;
        white-space: nowrap;
        display: flex;
        align-items: center;
    }

    .h2-title::before {
        content: "";
        border-right: 4px solid #d1bc5d;
        position: absolute;
        top: 0;
        left: 48px;
        height: 100%;
    }

    .h2-title::after {
        content: "";
        position: absolute;
        left: 52px;
        top: 19px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-color: transparent transparent transparent #d1bc5d;
    }

    .bi-icon {
        font-size: 20px;
        padding: 10px;
        width: 45px;
        height: 45px;
        text-align: center;
        margin-right: 25px;
        display: inline-block;
        transform: none;
    }

    .menu {
        padding: 0;
        margin: 0;
        overflow: hidden;
        list-style: none;
        background: #f4f4f4;
    }

    .item {
        border-bottom: 1px solid #fff;
        padding-bottom: 1rem;

        .sidebar-text {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 16px;
            color: #444;
            padding: 10px;

            .chevron {
                transform: none;
            }
        }
    }

    .sidebar-text:hover {
        background: #d6602c;
        color: #fff;
    }

    .post-item {
        box-shadow: #22222212 3px 3px 9px 0px;
        height: 100%;
    }

    .post-title {
        color: #444;
        font-size: 15px;
        display: block;
        font-weight: 600;
    }

    .post-img {
        position: relative;
        overflow: hidden;
        display: block;
    }

    .post-img img {
        transition: transform .3s ease-out;
    }

    .post-img img:hover {
        transform: scale(1.1);
    }

    .d-flex{
        align-items: center;
        justify-content: space-between;
    }
    .entry-time {
        font-size: 16px;
        color: #999;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        span{
            margin-left: 5px;
        }
    }

    .entry-category {
        font-size: 16px;
        color: #999;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        a {
            color: #999;
            margin-left: 5px;
        }
    }
}