.header {
    .bar {
        @include max-ss(1300px) {
            display: none;
        }
        @include max-ss(768px) {
            display: none;
        }
        @include max-ss(400px) {
            display: none;
        }
    }

    .search-ajax::placeholder{
        color: #fff;
    }

    .algin-items-center {
        align-items: center !important;
    }

    .container {
        max-width: 1523px !important;
    }

    .sub-tag {
        display: flex;
        align-items: center;

        span {
            padding-left: 5px;
        }
    }

    .button {
        color: #fff;
        background-color: $bgr;
        border-radius: 30px;
        padding: 5px 20px;
        display: inline-block;

    }

    .call {
        color: $bgr;
        background-color: #fff;
        border-radius: 30px;
        padding: 5px 20px;
        display: inline-block;
        margin: 0 5px;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;

        .title {
            color: $bgr;
        }
    }

    .item {
        padding: 5px
    }

    .search-form {
        position: relative;

        .form-control {
            border: 1px solid #b22024;
            border-radius: 30px;
            background: #b22024;
            color: #fff;
            border-top-right-radius: 30px !important;
            border-bottom-right-radius: 30px !important;
        }

        .bi-search {
            position: absolute;
            top: 10px;
            right: 15px;
            z-index: 999;
            color: #fff;
            font-size: 20px;
        }
    }

    .fixed.relative {
        background: #fff;
        position: fixed;
        z-index: 99999;
        width: 100%;
        top: 0;
        right: 0;
        left: 0;
        transition: all 0.2s ease-in-out 0s;
        animation: headerAnimation 0.7s 1;
    }

    .wrap.p-2.relative {
        background-color: #fff;

        .row.algin-items-center {
            display: flex;
            align-items: center;

        }

        .sub-menu {
            display: flex;
            justify-content: center;
            padding: 0;
            margin: 0;

            .item {
                margin: 0 10px;
                .title {
                    text-transform: uppercase;
                    padding: 10px 0;
                    color: $pimary-color;
                    font-size: 14px;
                    font-family: 'avo';
                    position: relative;
                }

                .home-page::after {
                    content: '';
                    width: 100% !important;
                    height: 3px;
                    background: #b22024;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    transform: translate3d(0, 0, 0);
                    transition: width 0.2s ease;
                }

                .title::after {
                    content: '';
                    width: 0%;
                    height: 3px;
                    background: #b22024;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    transform: translate3d(0, 0, 0);
                    transition: width 0.2s ease;
                }

                .title:hover::after {
                    content: '';
                    width: 100%;
                    height: 3px;
                    background: #b22024;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    transform: translate3d(0, 0, 0);
                    transition: width 0.2s ease;
                }
            }
        }

        .logos img {
            width: 150px;
        }
    }
}

.menu-primary {
    @include max-ss(768px) {
        display: none !important;
    }
}

.mb {
    display: none;

    @include max-ss(400px) {
        display: block;
    }

    @include max-ss(768px) {
        display: block;
    }

    .mobile-btn {
        position: absolute;
        width: 40px;
        height: 40px;
        border: 2px solid #ccb95d;
        border-radius: 100%;
        top: 0;
        transform: translateY(90%);
        z-index: 999;

        @include max-ss(768px) {
            transform: translateY(80%);
        }
    }

    .position-left {
        @include max-ss(400px) {
            left: 0;
        }
    }

    .position-right {
        @include max-ss(400px) {
            right: 0;
        }

        @include max-ss(768px) {
            right: 3%;
        }
    }

    .bi {
        position: absolute;
        top: 10px;
        left: 10px;
        transform: translateX(0);
    }

    .menu-sidebar {
        background: #fff;
        top: 0;
        position: fixed;
        width: 80%;
        z-index: 9999;
        left: 0;
        height: 100%;
        display: none;
    }

    .menu-sidebar.show {
        display: block;
    }

    .box {
        box-shadow: 0 4px 4px #5858582d;
    }

    .item {
        padding: 0;

        a {
            color: #444;
            font-size: 18px;
            padding: 10px;
            display: block;
            text-transform: uppercase;
            border-bottom: 1px solid #eee;
        }
    }

    .overlay {
        width: 100vw;
        height: 100vh;
        position: fixed;
        opacity: .85;
        top: 0;
        left: 0;
        display: none;
        transition: 0.3s;
        z-index: 998;
    }

    .overlay.show {
        display: block;
    }

    .search-wrap {
        display: none;
        position: absolute;
        right: 0;
        z-index: 999;
        background: #fff;
        padding: 10px;
        left: 0;
        top: 14%;

        @include max-ss(400px) {
            top: 16%;
        }

        @include min-ss(768px) {
            top: 11.5%;
        }
    }

    .search-wrap.show {
        display: block;
        z-index: 999;
    }

    .bi-sr {
        position: absolute;
        top: 10px;
        right: 15px;
        z-index: 999;
        color: #fff;
        font-size: 20px;
        left: initial;
    }
}