.info{
    .bi{
        transform: translate(0px, -4px);
    }
    .text{
        color: $third-border;
        
    }
    .h2{
        font-size: 25px;
        text-transform: uppercase;
        margin: 10px 0 20px 0;
        color: #fff;
    }
    .h2-title{
        background: $bgr;
        position: relative;
        font-size: 15px;
        white-space: nowrap;
        display: flex;
        align-items: center;
    }
    .h2-title::before{
        content: "";
        border-right: 4px solid #d1bc5d;
        position: absolute;
        top: 0;
        left: 48px;
        height: 100%;
    }
    .h2-title::after{
        content: "";
        position: absolute;
        left: 52px;
        top: 19px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-color: transparent transparent transparent #d1bc5d;
    }
    .bi-icon{
        font-size: 20px;
        padding: 10px;
        width: 45px;
        height: 45px;
        text-align: center;
        margin-right: 25px;
        display: inline-block;
        transform: none;
    }
    .menu{
        padding: 0;
        margin: 0;
        overflow: hidden;
        list-style: none;
        background: #f4f4f4;
    }
    .item{
        border-bottom: 1px solid #fff;
        padding-bottom: 1rem;
        .sidebar-text{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 16px;
            color: #444;
            padding: 10px;
            .chevron{
                transform: none;
            }
        }
    }
    .sidebar-text:hover{
        background: #d6602c;
        color: #fff;
    }
}

.post-title{
    color: #444;
    font-size: 15px;
    display: block;
    font-weight: 600;
}
.align-items-center{
    align-items: center;
}