.wrap-title{
    .title {
        font-family: 'avo';
        font-size: 25px;
        position: relative;
        text-transform: uppercase;
    }
    .bar{
        height: 4px;
        width: 150px;
        background: #ff512f;
        margin: 20px auto 25px;
        border-radius: 5px;
        position: absolute;
        left: 0;
        right: 0;
        top: 32rem;
        @include max-ss(400px) {
            top: 65rem;
        }
        @include max-ss(768px) {
           top: 37rem;
        }
    }  
    .bar:before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 5px;
        background: #fff;
        animation: mymove 3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    @keyframes mymove {
        from {left: 0px;}
        to {left: 150px;}
    }
}
.product-wrap{

    .item {
        box-shadow: 0 4px 4px #5858582d;
        .list-unstyled {
            border-bottom: 1px solid #eee;
            border-top: 1px solid #eee;
    
            .icon {
                color: #666;
                padding: 2px 0;
    
                a {
                    color: $secondary-color;
                }
            }
        }
    
        .entry-category {
            color: $secondary-color;
    
            a {
                color: $secondary-color;
            }
        }
    }
    .view-all{
        text-align: center;
    }
}

