@font-face {
  font-family: 'Averta';
  src: url("../assets/fonts/AvertaStandard-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avo';
  src: url("../assets/fonts/UTMAvoBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  overflow-x: hidden;
  font-family: 'Averta';
  font-size: 16px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1523px;
}

.title {
  margin-bottom: 2rem;
}

.breadcrumbs {
  background: #b22024;
  color: #fff;
  padding: 15px 0 1px;
}

.breadcrumbs a {
  color: #fff;
}

@media all and (max-width: 1300px) {
  .header .bar {
    display: none;
  }
}

@media all and (max-width: 768px) {
  .header .bar {
    display: none;
  }
}

@media all and (max-width: 400px) {
  .header .bar {
    display: none;
  }
}

.header .search-ajax::-webkit-input-placeholder {
  color: #fff;
}

.header .search-ajax:-ms-input-placeholder {
  color: #fff;
}

.header .search-ajax::-ms-input-placeholder {
  color: #fff;
}

.header .search-ajax::placeholder {
  color: #fff;
}

.header .algin-items-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.header .container {
  max-width: 1523px !important;
}

.header .sub-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .sub-tag span {
  padding-left: 5px;
}

.header .button {
  color: #fff;
  background-color: #b22024;
  border-radius: 30px;
  padding: 5px 20px;
  display: inline-block;
}

.header .call {
  color: #b22024;
  background-color: #fff;
  border-radius: 30px;
  padding: 5px 20px;
  display: inline-block;
  margin: 0 5px;
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
}

.header .menu .title {
  color: #b22024;
}

.header .item {
  padding: 5px;
}

.header .search-form {
  position: relative;
}

.header .search-form .form-control {
  border: 1px solid #b22024;
  border-radius: 30px;
  background: #b22024;
  color: #fff;
  border-top-right-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
}

.header .search-form .bi-search {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 999;
  color: #fff;
  font-size: 20px;
}

.header .fixed.relative {
  background: #fff;
  position: fixed;
  z-index: 99999;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -webkit-animation: headerAnimation 0.7s 1;
          animation: headerAnimation 0.7s 1;
}

.header .wrap.p-2.relative {
  background-color: #fff;
}

.header .wrap.p-2.relative .row.algin-items-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .wrap.p-2.relative .sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
}

.header .wrap.p-2.relative .sub-menu .item {
  margin: 0 10px;
}

.header .wrap.p-2.relative .sub-menu .item .title {
  text-transform: uppercase;
  padding: 10px 0;
  color: #6d6c6e;
  font-size: 14px;
  font-family: 'avo';
  position: relative;
}

.header .wrap.p-2.relative .sub-menu .item .home-page::after {
  content: '';
  width: 100% !important;
  height: 3px;
  background: #b22024;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: width 0.2s ease;
  transition: width 0.2s ease;
}

.header .wrap.p-2.relative .sub-menu .item .title::after {
  content: '';
  width: 0%;
  height: 3px;
  background: #b22024;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: width 0.2s ease;
  transition: width 0.2s ease;
}

.header .wrap.p-2.relative .sub-menu .item .title:hover::after {
  content: '';
  width: 100%;
  height: 3px;
  background: #b22024;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: width 0.2s ease;
  transition: width 0.2s ease;
}

.header .wrap.p-2.relative .logos img {
  width: 150px;
}

@media all and (max-width: 768px) {
  .menu-primary {
    display: none !important;
  }
}

.mb {
  display: none;
}

@media all and (max-width: 400px) {
  .mb {
    display: block;
  }
}

@media all and (max-width: 768px) {
  .mb {
    display: block;
  }
}

.mb .mobile-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid #ccb95d;
  border-radius: 100%;
  top: 0;
  -webkit-transform: translateY(90%);
          transform: translateY(90%);
  z-index: 999;
}

@media all and (max-width: 768px) {
  .mb .mobile-btn {
    -webkit-transform: translateY(80%);
            transform: translateY(80%);
  }
}

@media all and (max-width: 400px) {
  .mb .position-left {
    left: 0;
  }
}

@media all and (max-width: 400px) {
  .mb .position-right {
    right: 0;
  }
}

@media all and (max-width: 768px) {
  .mb .position-right {
    right: 3%;
  }
}

.mb .bi {
  position: absolute;
  top: 10px;
  left: 10px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mb .menu-sidebar {
  background: #fff;
  top: 0;
  position: fixed;
  width: 80%;
  z-index: 9999;
  left: 0;
  height: 100%;
  display: none;
}

.mb .menu-sidebar.show {
  display: block;
}

.mb .box {
  -webkit-box-shadow: 0 4px 4px #5858582d;
          box-shadow: 0 4px 4px #5858582d;
}

.mb .item {
  padding: 0;
}

.mb .item a {
  color: #444;
  font-size: 18px;
  padding: 10px;
  display: block;
  text-transform: uppercase;
  border-bottom: 1px solid #eee;
}

.mb .overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: .85;
  top: 0;
  left: 0;
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 998;
}

.mb .overlay.show {
  display: block;
}

.mb .search-wrap {
  display: none;
  position: absolute;
  right: 0;
  z-index: 999;
  background: #fff;
  padding: 10px;
  left: 0;
  top: 14%;
}

@media all and (max-width: 400px) {
  .mb .search-wrap {
    top: 16%;
  }
}

@media all and (min-width: 768px) {
  .mb .search-wrap {
    top: 11.5%;
  }
}

.mb .search-wrap.show {
  display: block;
  z-index: 999;
}

.mb .bi-sr {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 999;
  color: #fff;
  font-size: 20px;
  left: initial;
}

.wrap-title .title {
  font-family: 'avo';
  font-size: 25px;
  position: relative;
  text-transform: uppercase;
}

.wrap-title .bar {
  height: 4px;
  width: 150px;
  background: #ff512f;
  margin: 20px auto 25px;
  border-radius: 5px;
  position: absolute;
  left: 0;
  right: 0;
  top: 32rem;
}

@media all and (max-width: 400px) {
  .wrap-title .bar {
    top: 65rem;
  }
}

@media all and (max-width: 768px) {
  .wrap-title .bar {
    top: 37rem;
  }
}

.wrap-title .bar:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background: #fff;
  -webkit-animation: mymove 3s;
          animation: mymove 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 150px;
  }
}

@keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 150px;
  }
}

.product-wrap .item {
  -webkit-box-shadow: 0 4px 4px #5858582d;
          box-shadow: 0 4px 4px #5858582d;
}

.product-wrap .item .list-unstyled {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}

.product-wrap .item .list-unstyled .icon {
  color: #666;
  padding: 2px 0;
}

.product-wrap .item .list-unstyled .icon a {
  color: #ec3e3e;
}

.product-wrap .item .entry-category {
  color: #ec3e3e;
}

.product-wrap .item .entry-category a {
  color: #ec3e3e;
}

.product-wrap .view-all {
  text-align: center;
}

.info .bi {
  -webkit-transform: translate(0px, -4px);
          transform: translate(0px, -4px);
}

.info .text {
  color: #dc3545;
}

.info .h2 {
  font-size: 25px;
  text-transform: uppercase;
  margin: 10px 0 20px 0;
  color: #fff;
}

.info .h2-title {
  background: #b22024;
  position: relative;
  font-size: 15px;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info .h2-title::before {
  content: "";
  border-right: 4px solid #d1bc5d;
  position: absolute;
  top: 0;
  left: 48px;
  height: 100%;
}

.info .h2-title::after {
  content: "";
  position: absolute;
  left: 52px;
  top: 19px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #d1bc5d;
}

.info .bi-icon {
  font-size: 20px;
  padding: 10px;
  width: 45px;
  height: 45px;
  text-align: center;
  margin-right: 25px;
  display: inline-block;
  -webkit-transform: none;
          transform: none;
}

.info .menu {
  padding: 0;
  margin: 0;
  overflow: hidden;
  list-style: none;
  background: #f4f4f4;
}

.info .item {
  border-bottom: 1px solid #fff;
  padding-bottom: 1rem;
}

.info .item .sidebar-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  color: #444;
  padding: 10px;
}

.info .item .sidebar-text .chevron {
  -webkit-transform: none;
          transform: none;
}

.info .sidebar-text:hover {
  background: #d6602c;
  color: #fff;
}

.post-title {
  color: #444;
  font-size: 15px;
  display: block;
  font-weight: 600;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  position: relative;
  background: #707071;
  color: #fff;
}

.footer .title {
  padding-bottom: 7px;
}

.footer .title span {
  display: block;
  font-size: 17px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'avo';
}

.footer .title::before {
  content: "";
  border-bottom: 1px solid #dc3545;
  position: absolute;
  left: 15px;
  top: 33px;
  width: 90%;
  -webkit-transform: translateY(17px);
          transform: translateY(17px);
}

.footer .title:after {
  content: "";
  border-bottom: 3px solid #dc3545;
  position: absolute;
  left: 15px;
  top: 30px;
  width: 30%;
  -webkit-transform: translateY(17px);
          transform: translateY(17px);
}

.menu-footer {
  margin-left: 5px;
}

.menu {
  list-style: square;
  padding: 0;
}

.menu .item {
  padding: 5px 0;
  color: #fff;
}

.menu .item svg.bi.bi-square {
  background-color: #fff;
}

.menu .item a {
  color: #fff;
}

.bi-social {
  font-size: 20px;
  width: 35px;
  height: 35px;
  text-align: center;
  color: #fff;
  line-height: 1.6;
  border-radius: 100%;
}

.bi-facebook {
  color: #3b5998;
  background-color: #fff;
}

.bi-instagram {
  color: #db4437;
  background-color: #fff;
}

.bi-linkedin {
  color: #00aff0;
  background-color: #fff;
}

.bi-youtube {
  color: #e62117;
  background-color: #fff;
}

.copyright {
  padding: 10px 0;
  font-size: 15px;
  line-height: 1.8;
  background: -webkit-gradient(linear, right top, left top, from(#ef8c3c), to(#96201e));
  background: linear-gradient(-90deg, #ef8c3c 0%, #96201e 100%);
  color: #fff;
}

.copyright .bct {
  width: 150px;
  height: 55px;
}

.copyright .algin-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=details.css.map */