.event {
    .item{
        box-shadow: #22222212 3px 3px 9px 0px;
        height: 100%;
    }
    .title {
        font-family: 'avo';
        font-size: 20px;
        font-weight: bold;
        position: relative;
        color: #ab2023;
        text-transform: uppercase;
        padding: 20px 0;
        margin-bottom: 0;
    }

    .post-img{
        position: relative;
        overflow: hidden;
        display: block;
    }

    .post-img img{
        transition: transform .3s ease-out;
    }

    .post-img img:hover{
        transform: scale(1.1);
    }

    .post-title{
        display: block;
        margin: 10px 0;
        font-weight: 600;
        color: #444;
        font-size: 17px;
    }

    .d-flex{
        align-items: center;
        justify-content: space-between;
    }
    .entry-time {
        font-size: 16px;
        color: #999;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        span{
            margin-left: 5px;
        }
    }

    .entry-category {
        font-size: 16px;
        color: #999;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        a {
            color: #999;
            margin-left: 5px;
        }
    }
}