.filter {
    .breadcrumbs {
        background: $bgr;
        color: #fff;
        padding: 15px 0 1px;

        a {
            color: #fff;
        }
    }

    .overlay {
        position: relative;
    }

    .overlay::before {
        content: "";
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .algin-items-center{
        align-items: center;
        span{
            font-weight: bold;
        }
    }
    .list-unstyled{
        display: flex;
        flex-wrap: wrap;
        @include max-ss(400px) {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
        @include max-ss(768px) {
            flex-wrap: wrap;
        }
    }
    .item{
        padding-right: 5px;
        margin: 5px;
    }
    .text{
        color: #b22024;
        border: 1px solid;
        border-radius: 30px;
        padding: 5px 10px;
        background: #fff;
    }
}
