@font-face {
  font-family: 'Averta';
  src: url("../assets/fonts/AvertaStandard-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avo';
  src: url("../assets/fonts/UTMAvoBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  overflow-x: hidden;
  font-family: 'Averta';
  font-size: 16px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1523px;
}

.title {
  margin-bottom: 2rem;
}

@media all and (max-width: 1300px) {
  .header .bar {
    display: none;
  }
}

@media all and (max-width: 768px) {
  .header .bar {
    display: none;
  }
}

@media all and (max-width: 400px) {
  .header .bar {
    display: none;
  }
}

.header .search-ajax::-webkit-input-placeholder {
  color: #fff;
}

.header .search-ajax:-ms-input-placeholder {
  color: #fff;
}

.header .search-ajax::-ms-input-placeholder {
  color: #fff;
}

.header .search-ajax::placeholder {
  color: #fff;
}

.header .algin-items-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.header .container {
  max-width: 1523px !important;
}

.header .sub-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .sub-tag span {
  padding-left: 5px;
}

.header .button {
  color: #fff;
  background-color: #b22024;
  border-radius: 30px;
  padding: 5px 20px;
  display: inline-block;
}

.header .call {
  color: #b22024;
  background-color: #fff;
  border-radius: 30px;
  padding: 5px 20px;
  display: inline-block;
  margin: 0 5px;
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
}

.header .menu .title {
  color: #b22024;
}

.header .item {
  padding: 5px;
}

.header .search-form {
  position: relative;
}

.header .search-form .form-control {
  border: 1px solid #b22024;
  border-radius: 30px;
  background: #b22024;
  color: #fff;
  border-top-right-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
}

.header .search-form .bi-search {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 999;
  color: #fff;
  font-size: 20px;
}

.header .fixed.relative {
  background: #fff;
  position: fixed;
  z-index: 99999;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -webkit-animation: headerAnimation 0.7s 1;
          animation: headerAnimation 0.7s 1;
}

.header .wrap.p-2.relative {
  background-color: #fff;
}

.header .wrap.p-2.relative .row.algin-items-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .wrap.p-2.relative .sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
}

.header .wrap.p-2.relative .sub-menu .item {
  margin: 0 10px;
}

.header .wrap.p-2.relative .sub-menu .item .title {
  text-transform: uppercase;
  padding: 10px 0;
  color: #6d6c6e;
  font-size: 14px;
  font-family: 'avo';
  position: relative;
}

.header .wrap.p-2.relative .sub-menu .item .product-page::after {
  content: "";
  width: 100% !important;
  height: 3px;
  background: #b22024;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: width 0.2s ease;
  transition: width 0.2s ease;
}

.header .wrap.p-2.relative .sub-menu .item .title::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #b22024;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: width 0.2s ease;
  transition: width 0.2s ease;
}

.header .wrap.p-2.relative .sub-menu .item .title:hover::after {
  content: "";
  width: 100%;
  height: 3px;
  background: #b22024;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: width 0.2s ease;
  transition: width 0.2s ease;
}

.header .wrap.p-2.relative .logos img {
  width: 150px;
}

@media all and (max-width: 768px) {
  .menu-primary {
    display: none !important;
  }
}

.mb {
  display: none;
}

@media all and (max-width: 400px) {
  .mb {
    display: block;
  }
}

@media all and (max-width: 768px) {
  .mb {
    display: block;
  }
}

.mb .mobile-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid #ccb95d;
  border-radius: 100%;
  top: 0;
  -webkit-transform: translateY(90%);
          transform: translateY(90%);
  z-index: 999;
}

@media all and (max-width: 768px) {
  .mb .mobile-btn {
    -webkit-transform: translateY(80%);
            transform: translateY(80%);
  }
}

@media all and (max-width: 400px) {
  .mb .position-left {
    left: 0;
  }
}

@media all and (max-width: 400px) {
  .mb .position-right {
    right: 0;
  }
}

@media all and (max-width: 768px) {
  .mb .position-right {
    right: 3%;
  }
}

.mb .bi {
  position: absolute;
  top: 10px;
  left: 10px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mb .menu-sidebar {
  background: #fff;
  top: 0;
  position: fixed;
  width: 80%;
  z-index: 9999;
  left: 0;
  height: 100%;
  display: none;
}

.mb .menu-sidebar.show {
  display: block;
}

.mb .box {
  -webkit-box-shadow: 0 4px 4px #5858582d;
          box-shadow: 0 4px 4px #5858582d;
}

.mb .item {
  padding: 0;
}

.mb .item a {
  color: #444;
  font-size: 18px;
  padding: 10px;
  display: block;
  text-transform: uppercase;
  border-bottom: 1px solid #eee;
}

.mb .overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: .85;
  top: 0;
  left: 0;
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 998;
}

.mb .overlay.show {
  display: block;
}

.mb .search-wrap {
  display: none;
  position: absolute;
  right: 0;
  z-index: 999;
  background: #fff;
  padding: 10px;
  left: 0;
  top: 14%;
}

@media all and (max-width: 400px) {
  .mb .search-wrap {
    top: 16%;
  }
}

@media all and (min-width: 768px) {
  .mb .search-wrap {
    top: 11.5%;
  }
}

.mb .search-wrap.show {
  display: block;
  z-index: 999;
}

.mb .bi-sr {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 999;
  color: #fff;
  font-size: 20px;
  left: initial;
}

.filter .breadcrumbs {
  background: #b22024;
  color: #fff;
  padding: 15px 0 1px;
}

.filter .breadcrumbs a {
  color: #fff;
}

.filter .overlay {
  position: relative;
}

.filter .overlay::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.filter .algin-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter .algin-items-center span {
  font-weight: bold;
}

.filter .list-unstyled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media all and (max-width: 400px) {
  .filter .list-unstyled {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media all and (max-width: 768px) {
  .filter .list-unstyled {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.filter .item {
  padding-right: 5px;
  margin: 5px;
}

.filter .text {
  color: #b22024;
  border: 1px solid;
  border-radius: 30px;
  padding: 5px 10px;
  background: #fff;
}

.village .title {
  font-family: 'avo';
  font-size: 20px;
  font-weight: bold;
  position: relative;
  color: #ab2023;
  text-transform: uppercase;
}

.village .sample {
  display: inline-block;
  position: relative;
  z-index: 999;
  padding: 10px 0;
  text-transform: uppercase;
}

.village .item {
  -webkit-box-shadow: 0 4px 4px #5858582d;
          box-shadow: 0 4px 4px #5858582d;
}

.village .item .list-unstyled {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}

.village .item .list-unstyled .icon {
  color: #666;
  padding: 2px 0;
}

.village .item .list-unstyled .icon a {
  color: #ec3e3e;
}

.village .item .entry-category {
  color: #ec3e3e;
}

.village .item .entry-category a {
  color: #ec3e3e;
}

.village .view-all {
  text-align: center;
}

.village button.btn.btn-danger {
  border-radius: 30px;
  padding: 5px 20px;
  text-align: center;
  background-color: #b22024;
}

.village .img-fluid {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  position: relative;
  background: #707071;
  color: #fff;
}

.footer .title {
  padding-bottom: 7px;
}

.footer .title span {
  display: block;
  font-size: 17px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'avo';
}

.footer .title::before {
  content: "";
  border-bottom: 1px solid #dc3545;
  position: absolute;
  left: 15px;
  top: 33px;
  width: 90%;
  -webkit-transform: translateY(17px);
          transform: translateY(17px);
}

.footer .title:after {
  content: "";
  border-bottom: 3px solid #dc3545;
  position: absolute;
  left: 15px;
  top: 30px;
  width: 30%;
  -webkit-transform: translateY(17px);
          transform: translateY(17px);
}

.menu-footer {
  margin-left: 5px;
}

.menu {
  list-style: square;
  padding: 0;
}

.menu .item {
  padding: 5px 0;
  color: #fff;
}

.menu .item svg.bi.bi-square {
  background-color: #fff;
}

.menu .item a {
  color: #fff;
}

.bi-social {
  font-size: 20px;
  width: 35px;
  height: 35px;
  text-align: center;
  color: #fff;
  line-height: 1.6;
  border-radius: 100%;
}

.bi-facebook {
  color: #3b5998;
  background-color: #fff;
}

.bi-instagram {
  color: #db4437;
  background-color: #fff;
}

.bi-linkedin {
  color: #00aff0;
  background-color: #fff;
}

.bi-youtube {
  color: #e62117;
  background-color: #fff;
}

.copyright {
  padding: 10px 0;
  font-size: 15px;
  line-height: 1.8;
  background: -webkit-gradient(linear, right top, left top, from(#ef8c3c), to(#96201e));
  background: linear-gradient(-90deg, #ef8c3c 0%, #96201e 100%);
  color: #fff;
}

.copyright .bct {
  width: 150px;
  height: 55px;
}

.copyright .algin-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=product.css.map */